[Desktop Entry]
Encoding=UTF-8
Name=ratpoison
Comment=Launch ratpoison window manager
Exec=/usr/bin/ratpoison
TryExec=/usr/bin/ratpoison
Type=Xsession
